@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

// animação subtitulo login
@keyframes puff-in-ver {
    0% {
        -webkit-transform: scaleY(2);
        transform: scaleY(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}